html,
body,
h1,
p,
em,
input {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 1rem;
}

input {
  border: 0;
  padding: 0;
  flex: 1;
  outline: none;
}

.autocomplete {
  position: relative;

  &__controls {
    display: flex;
    max-height: 2.75rem;
  }

  &__button {
    background: #355a97;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 3px 3px 0;

    svg {
      margin: 0;
      padding: 1rem;
      color: #fff;
    }
  }

  &__input {
    display: flex;
    width: 100%;
    overflow: hidden;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 3px 0 0 3px;
    min-height: 1em;
  }
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  position: absolute;
  top: 3.5rem;
  width: 100%;
  list-style: none;
  margin: 0;
  max-height: 18rem;
  overflow-y: auto;
  padding-left: 0;
  border-radius: 3px;
  box-shadow: 0px 0px 3px #909090;
  scroll-snap-type: y mandatory;
  background: #fff;

  &.logics {
    border-bottom: none;
  }

  .suggestionTip {
    margin: 0.3rem;
    font-size: 0.7em;
    line-height: 1.6em;
    color: #333;

    span {
      font-weight: bold;
      font-style: oblique;
    }

    &:hover {
      background: #fff;
      cursor: default;
    }
  }
}

.suggestions li {
  padding: 0.5rem;
  -moz-user-select: none;
  user-select: none;
  scroll-snap-align: start;

  &.subject::before {
    content: "SU";
    padding: 5px 3px 3px 3px;
    font-size: 50%;
    border: 1px solid #666;
    vertical-align: 2px;
    margin-right: 4px;
  }
}

.suggestion-active,
.suggestions li:hover {
  background: #b0c3db;
  color: #2f2f2f;
  cursor: pointer;
}

.search-icon {
  margin: auto 0.6rem auto auto;
  color: #355a97;
  height: 1rem !important;
  width: 1rem !important;
}
